<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <title>HBNB</title>
    </HEAD>
    <BODY>
        {% if state_id %}
        {%- if state %}
        <H1>State: {{ state.name }}</H1>
        <h3>Cities:</h3>
        <UL>
            {% for city in state.cities %}
            <LI>{{ city.id }}: <b>{{ city.name }}</b></LI>
            {% endfor %}
        </UL>
        {%- else %}
        <H1>Not Found</H1>
        {%- endif %}
        {% else %}
        <H1>States</H1>
        <UL>
            {% for state in states.values() %}
            <LI>{{ state.id }}: <b>{{ state.name }}</b></LI>
            {% endfor %}
        </UL>
        {% endif +%}
    </BODY>
</HTML>